*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
     font-family: 'Lato', sans-serif;
}


/* Navbar styling */
nav,.left-nav,.right-inner-div,.left-inner-div{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.left-inner-div p{
    font-size: 26px;
    font-weight: bold;
}
nav{
    justify-content: space-between;
    padding: 7px;
    max-width: 1200px;
    margin: 0 auto;
}
.left-inner-div{
    justify-content: center;
}
.left-nav{
    gap: 1rem;
}
.right-nav{
    gap:10px;
}
.right-nav,.order-btn{
    display: flex;
    
    justify-content: center;
    align-items: center;
}
.order-btn img{
    height: 20px;
}
.order-btn p{
    color: hsl(280, 88%, 74%);
}

.order-btn{
    cursor: pointer;
    border: 3px solid hsl(280, 88%, 74%);
    border-radius: 5px;
    padding: 5px;
    gap:10px;
}

.right-inner-div ul{
    display: flex;
    gap:20px;
}
.right-inner-div ul li{
    list-style: none;
}
.right-inner-div ul li a{
    text-decoration: none;
}
.profile,.logout{
    border: 1px solid black;
    padding: 10px;
    background-color: hsl(280, 88%, 74%);
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
}

.logout{
background-color: red;
}
.header-logo{
    height: 50px;
}
.hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
}
.mobile-menu{
    
    display: none; /* hidden by default */
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: #f0f0f0;
}







/* Main content */


main{
    margin-top: 50px;
    margin-bottom: 50px;
}
.main-header,.restaurants h3{
    width:fit-content;
    margin: auto;
    font-size: 26px;
    margin-bottom: 50px;
}
.foods-container{
    display: grid;
    gap:20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    max-width: 1200px;
    margin: 0 auto;           
    padding: 20px; 
}

.food-container-head img{
    height: auto;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}
.food-container-body p{
    margin: 10px;
}
.food-container{
   padding: 15px;
    border: 1px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.food-container-body a{
    border: 2px solid hsl(280, 88%, 74%);
    width: 100%;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
}

.restaurants-container{
    display: grid;
    gap:20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    max-width: 1200px;
    margin: 0 auto;           
    padding: 20px; 
}

.Restaurant{
    padding: 10px;
    width: 100%;
    position: relative;
}

.Restaurant a{
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: 2px solid;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;

}
.Restaurant p{
    margin: 10px;
}

.res-name{
    font-weight: 600;
}

.Restaurant img {
    width: 100%;          
    height: 200px;        
    object-fit: cover;    
    border-radius: 8px;  
}


/* //footer */


.footer{
    display: flex;
    background-color: black;
    color: white;
}

.footer-container{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;

}
.footer-left,.footer-mid,.footer-right{
    padding: 10px;
}
.footer-left{
    width : 50%;
}
.footer-mid{
    width : 25%;
}
.footer-right{
    width : 25%;
}
.footer-left img,
.footer-left p,
.footer-left .footer-icons{
    margin: 10px 20px;
}
.footer-left img{
    width: 50px;
}
.footer-mid ul li{
    list-style: none;
}
.footer-mid ul li a{
    color: white;
    list-style-type: none;
    text-decoration: none;
}
.footer-mid h2,
.footer-mid ul li{
    margin:10px 0;
}
.footer-right h3,
.footer-right p{
    margin: 10px 0;
}




/* media queries */

@media (max-width:768px){

    .hamburger{
        display: block;
    }

    .right-inner-div,.right-nav{
        display: none;
    }

    .mobile-menu {
        display: none;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        background-color: #f0f0f0;
      }

    
      .mobile-menu.active {
        display: flex;
        align-items: center;
      }


      .mobile-menu.active a{
        text-decoration: none;
        
      }

      .footer-icons img {
        width: 10vw;
        max-width: 48px;
        height: auto;
        margin-left: 0;
        }
        
     

      .footer-container{
        flex-direction: column;
        width: 100%;
      }

      .footer-left,.footer-mid,.footer-right{
        width: 100%;
      }
      .footer-mid,.footer-right{
        padding-left: 7vw;
      }

      

      

      

      



    
}
