.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 30px;
}

.main-content{
    padding: 0 0px;
}
.heading{
    font-weight: bolder;
    font-size: 26px;
}
.des p{
    padding: 15px;
    text-align: center;
}

.heading,.res-image{
    padding: 15px;

}

.res-image img {
    width: 400px;         /* Fixed width */
    height: 220px;        /* Less height = horizontal rectangle */
    object-fit: cover;    /* Keeps the image well-cropped and clean */
    display: block;
    margin: 0 auto;
    border-radius: 8px;   /* Optional rounded corners */
 }

.menu-container{
    padding: 50px 0;
}

.food-item{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.fooditems-container{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
    gap: 20px;
}

.food-item-head img{
    height: 200px;
    width: 100%;
    border-radius: 8px;
}

.food-item-body p{
    padding-top: 8px;
}

.food-item-body a{
    display: block;
    border: 1px solid hsl(280, 88%, 74%);
    text-decoration: none;
    text-align: center;
    padding: 3px;
    margin-top: 8px;
    border-radius: 5px;
}

.review-boxes{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.review{
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px  rgb(222, 204, 204);
}
.review-boxes > .review {
    max-width: 500px;
    width: 100%;

}
.header-left img{
    width: 50px;
    height: 50px;
}
.review-header{
    align-items: center;
}


.header-left,.header-right,.review-header {
    display: flex;
}
.header-right{
    flex-direction: column;
    justify-content: center;
    padding: 10px;

}
.rating img{
    width: 100px;
    padding-top: 10px;
    
}
.username{
    font-weight: 600
}


@media (max-width:468px){
    .res-image img{
        width: 250px;
        height: 160px;
    }
}
