.orders-container{
    max-width: 500px;
    margin:0 auto;
    padding: 10px;
}

td{
    text-align: center;
}


td,th{
    margin: 5px 10px ;
    padding: 5px;  
    border-bottom: 2px solid;
}

td{
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom: 1px solid;
}

table{
    margin: 0 auto;
    border-collapse: collapse;
}
td img{
    height: 60px;
    width: 60px; 
    border: 1px solid;
    padding: 5px;
}

.order-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

select{
    border: 2px solid;
    height: 20px;
}
.back{
    max-width: 500px;
    position: relative;
    margin: 0 auto;
    height: 30px;
}

.update{
    max-width: 500px;
    position: relative;
    margin: 0 auto;
    height: 30px;
}

.update button{
    position: absolute;
    padding: 5px;
    right: 0;
    border: none;
    background-color: goldenrod;
    color: white;
    border-radius: 2px;
}
.back a{
    position: absolute;
    bottom: -5px;
    right: 0;
    border: 2px solid;
    padding: 5px;
    text-decoration: none;
    background-color: black;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}


@media (max-width:350px){
    *{
        font-size: 12px;
    }
}