{% extends 'index.html' %}
{% load static %}

{% block extra_css  %}

<link rel="stylesheet" href="{% static 'css/cart.css' %}">

{% endblock %}


{% block content %}
<div class="all-items">



{% if cartitems %}
 <h3 class='main-header'>Your Cart</h3>


{% for cart_item in cartitems %}
<div class="cart-item">
    <img src="{{cart_item.to_food.food_item_image.url}}" class="item-image">
    <div class="item-details">
        <div class="item-name">{{cart_item.to_food.food_item_name}}</div>
        <div class="item-price">Price : ₹{{cart_item.price}}</div>
        Quantity: x {{cart_item.quantity}}
        <a href="{% url 'delete' cart_item.id %}"><button class="remove-btn">Remove</button></a>
    </div>
</div>

{% endfor %}



<div class="cart-total">
    <strong>Total Price : ₹{{tp}}</strong>
</div>


<a href="{% url 'my_orders' %}"><button class="checkout-btn">Place Order</button></a>

{% else %}

    <h3 class='main-header'>No Items in Your Cart</h3>



{% endif %}
</div>
{% endblock %}