{% extends "owner.html" %}
{% load static %}


{% block extra_css %}
<link rel="stylesheet" href="{% static "css/edit-item.css" %}">
{% endblock %}

{% block content %}

<h3 class="heading">Your Food Items</h3>

{% for item in fooditems %}
<div class="container-items">
    <div class="each-item">
        <div class="item-details">
            <img src="{{item.food_item_image.url}}" alt="">
            <p>Name : {{item.food_item_name}}</p>
            <p>Price : {{item.food_item_price}} Rupees </p>
        </div>
        <a id="delete-btn" href="{% url 'delete-item' item.id %}"><button class="del-btn"> X </button></a>
        <a href="{% url 'edit-item-details' item.id %}"><button class="edit-btn">Edit</button></a>
    </div>
</div>

{% endfor %}



<div class="back"><a href="{% url 'owner' %}">Back</a></div>

{% endblock %}