{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quick Byte</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>


    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static "css/base.css" %}">
    <link rel="icon" href="{% static 'images/quickbyte_logo.png' %}" type="image/png">

    {% block extra_css %}{% endblock %}
    
</head>
<body>


    {% block header %}

    <nav>
        <div class='left-nav'>
            <div class ='left-inner-div'>
                <a href="{% url 'home' %}">
                    <img class="header-logo" src="{% static 'images/quickbyte_logo.png' %}" alt="webapp-logo">
                </a>
                
                <p>Quick Byte</p>
            </div>
            <div class ='right-inner-div'>
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'home' %}#all-res">Restaurants</a></li>
                    <li><a href="{% url 'cart' %}">Cart</a></li>
                </ul>
            </div>
        </div>
        <div class='right-nav'>
            {% if user.is_authenticated %}

            <a href="{% url 'place-orders' %}">
                 <div class="order-btn">
                    <img src="{% static 'images/basket_icon.png' %}" alt="">
                    <p>My orders</p>
                </div>
            </a>
            
                <button class="profile">{{user.username}}</button>
                <a href="{% url 'logout' %}"><button class="logout">Logout</button></a>

            {% else %}
                <a href="{% url 'login' %}"><button class="profile">Login</button></a>
            {% endif %}
        </div>
        <div class="hamburger">&#9776;</div>
    </nav>
    <div class="mobile-menu">
        
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'home' %}#all-res">Restaurants</a>
        {% if user.is_authenticated %}
        <a href="{% url 'cart' %}">Cart</a>

        

        <a href="{% url 'place-orders' %}">MyOders</a>


        <a href="{% url 'logout' %}">Logout</a>

        {% else %}

        <a href="{% url 'login' %}">Login</a>

        {% endif %}
        
      </div>
    

    {% endblock %}

    {% block content %}

    <main>
        <h3 class='main-header'>Food Categories</h3>

  
        <div class='foods-container'>
            <div class='food-container'>
                <div class='food-container-head'>
                    <img src="{% static 'images/food_6.png' %}" alt="">
                </div>
                <div class='food-container-body'>
                    <p>Pizza</p>
                    <p>Hot and cheesy delight</p>
                    <p>Perfect for any occasion</p>
                    <a href="">Explore</a>
                </div>
            </div>
            <div class='food-container'>
                <div class='food-container-head'>
                    <img src="{% static 'images/food_2.png' %}" alt="">
                </div>
                <div class='food-container-body'>
                    <p>Pizza</p>
                    <p>Hot and cheesy delight</p>
                    <p>Perfect for any occasion</p>
                    <a href="">Explore</a>
                </div>
            </div>
            <div class='food-container'>
                <div class='food-container-head'>
                    <img src="{% static 'images/food_4.png' %}" alt="">
                </div>
                <div class='food-container-body'>
                    <p>Pizza</p>
                    <p>Hot and cheesy delight</p>
                    <p>Perfect for any occasion</p>
                    <a href="">Explore</a>
                </div>
            </div>
            <div class='food-container'>
                <div class='food-container-head'>
                    <img src="{% static 'images/food_5.png' %}" alt="">
                </div>
                <div class='food-container-body'>
                    <p>Pizza</p>
                    <p>Hot and cheesy delight</p>
                    <p>Perfect for any occasion</p>
                    <a href="">Explore</a>
                </div>
            </div>
        </div>
    </main>

    <div class="restaurants" id="all-res">
        <h3>Popular Restaurants</h3>

        <div class="restaurants-container">

            

            {% for re in rests %}

            <div class="Restaurant">
                
                <img src="{{re.restaurant_image.url}}" alt="">
                <p class="res-name">{{re.restaurant_name}}</p>
                <p>{{re.type_of_food}}</p>
                <p>Rating:4.5</p>
                <a href="{% url 'rest' re.id %}">View Menu</a>
            </div>

            {% endfor %}
           

        </div>
    </div>



    {% endblock %}


    {% block footer %}

    <div class="footer">
        <div class="footer-container">
            <div class="footer-left">
                <img src="{% static 'images/quickbyte_nobg.png' %}" alt="">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel,Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium ex blanditiis ipsam sapiente ut ad molestiae necessitatibus nemo accusamus maxime. aspernatur sunt commodi laborum a in tenetur totam beatae eius ea quia quae ipsam ducimus est suscipit molestias earum provident rem.</p>
                <div class="footer-icons">
                    <img src="{% static 'images/facebook_icon.png' %}" alt="fb-logo">
                    <img src="{% static 'images/twitter_icon.png' %}" alt="">
                    <img src="{% static 'images/linkedin_icon.png' %}" alt="">
                </div>
            </div>
            <div class="footer-mid">
                <h2>Company</h2>
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'home' %}">About us</a></li>
                    <li><a href="{% url 'home' %}">delivery</a></li>
                    <li><a href="{% url 'home' %}">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="footer-right">
                <h3>GET IN TOUCH</h3>
                <p class="contact-num">9123455678</p>
                <p class="mail">Qucik-byte.in</p>
            </div>
        </div>
    </div>


    {% endblock %}
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>