{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quick Byte</title>
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    
</head>
<body>


    {% block header %}

    <nav>
        <div class='left-nav'>
            <div class ='left-inner-div'>
                <img class="header-logo" src="{% static 'images/quickbyte_logo.png' %}" alt="webapp-logo">
                <p>Quick Byte</p>
            </div>
            <div class ='right-inner-div'>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Restaurant details</a></li>
                    <li><a href="">Cart</a></li>
                </ul>
            </div>
        </div>
        <div class='right-nav'>
            <div class="order-btn">
                <img src="{% static 'images/basket_icon.png' %}" alt="">
                <p>Order Now</p>
            </div>
            <div class="profile">Login</div>
        </div>
        <div class="hamburger">&#9776;</div>
    </nav>
    <div class="mobile-menu">
        <a href="#">Home</a>
        <a href="#">Restaurant Details</a>
        <a href="#">Cart</a>
        <a href="#">Order Now</a>
        <a href="#">Login</a>
      </div>
    

    {% endblock %}

    {% block content %}

    <main>
        <h3 class='main-header'>Food Categories</h3>

  
        <div class='foods-container'>
            <div class='food-container'>
                <div class='food-container-head'>
                    <img src="{% static 'images/food_6.png' %}" alt="">
                </div>
                <div class='food-container-body'>
                    <p>Pizza</p>
                    <p>Hot and cheesy delight</p>
                    <p>Perfect for any occasion</p>
                    <a href="">Explore</a>
                </div>
            </div>
            <div class='food-container'>
                <div class='food-container-head'>
                    <img src="{% static 'images/food_2.png' %}" alt="">
                </div>
                <div class='food-container-body'>
                    <p>Pizza</p>
                    <p>Hot and cheesy delight</p>
                    <p>Perfect for any occasion</p>
                    <a href="">Explore</a>
                </div>
            </div>
            <div class='food-container'>
                <div class='food-container-head'>
                    <img src="{% static 'images/food_3.png' %}" alt="">
                </div>
                <div class='food-container-body'>
                    <p>Pizza</p>
                    <p>Hot and cheesy delight</p>
                    <p>Perfect for any occasion</p>
                    <a href="">Explore</a>
                </div>
            </div>
            <div class='food-container'>
                <div class='food-container-head'>
                    <img src="{% static 'images/food_4.png' %}" alt="">
                </div>
                <div class='food-container-body'>
                    <p>Pizza</p>
                    <p>Hot and cheesy delight</p>
                    <p>Perfect for any occasion</p>
                    <a href="">Explore</a>
                </div>
            </div>
            <div class='food-container'>
                <div class='food-container-head'>
                    <img src="{% static 'images/food_5.png' %}" alt="">
                </div>
                <div class='food-container-body'>
                    <p>Pizza</p>
                    <p>Hot and cheesy delight</p>
                    <p>Perfect for any occasion</p>
                    <a href="">Explore</a>
                </div>
            </div>
        </div>
    </main>

    <div class="restaurants">
        <h3>Popular Restaurants</h3>

        <div class="restaurants-container">

            <div class="Restaurant">
                <img src="{% static 'images/res_1.png' %}" alt="">
                <p class="res-name">Le bella veta</p>
                <p>Italin cuisne</p>
                <p>Rating:4.5</p>
            </div>
            <div class="Restaurant">
                <img src="{% static 'images/res_2.png' %}" alt="">
                <p class="res-name">Le bella veta</p>
                <p>Italin cuisne</p>
                <p>Rating:4.5</p>
            </div>
            <div class="Restaurant">
                <img src="{% static 'images/res_3.png' %}" alt="">
                <p class="res-name">Le bella veta</p>
                <p>Italin cuisne</p>
                <p>Rating:4.5</p>
            </div>
            <div class="Restaurant">
                <img src="{% static 'images/res_4.png' %}" alt="">
                <p class="res-name">Le bella veta</p>
                <p>Italin cuisne</p>
                <p>Rating:4.5</p>
            </div>

        </div>
    </div>



    {% endblock %}


    {% block footer %}

    <div class="footer">
        <div class="footer-container">
            <div class="footer-left">
                <img src="{% static 'images/quickbyte_nobg.png' %}" alt="">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel,Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium ex blanditiis ipsam sapiente ut ad molestiae necessitatibus nemo accusamus maxime. aspernatur sunt commodi laborum a in tenetur totam beatae eius ea quia quae ipsam ducimus est suscipit molestias earum provident rem.</p>
                <div class="footer-icons">
                    <img src="{% static 'images/facebook_icon.png' %}" alt="">
                    <img src="{% static 'images/twitter_icon.png' %}" alt="">
                    <img src="{% static 'images/linkedin_icon.png' %}" alt="">
                </div>
            </div>
            <div class="footer-mid">
                <h2>Company</h2>
                <ul>
                    <li><a href="homepage.html">Home</a></li>
                    <li><a href="">About us</a></li>
                    <li><a href="">delivery</a></li>
                    <li><a href="">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="footer-right">
                <h3>GET IN TOUCH</h3>
                <p class="contact-num">9123455678</p>
                <p class="mail">tomato.dev.in</p>
            </div>
        </div>
    </div>


    {% endblock %}
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>