{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <link rel="icon" href="{% static 'images/quickbyte_logo.png' %}" type="image/png">
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="container">
        <div class="register">
            <h1>Hello, Welcome</h1>
            <p>Don't Have An Account?</p>
            <a href="{% url 'register' %}">Register</a>
        </div>
        <div class="login">
            <h2>Login</h2>
            <form method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                <input type="text" placeholder="UserName" name="username" required>
                <input type="password" placeholder="PassWord" name="password" required>

                {% if error %}

                <p>{{error}}</p>
                {% endif %}
            
            <a href=""><p>Forgot Password</p></a>
            <button type="submit">Login</button>
        </form>
            <p>Or  login With Social Platforms</p>
            <div class="logos">
                <a href="https://google.com"><img src="{% static 'images/icons8-facebook-50.png' %}" alt=""></a>
                <a href="https://github.com"><img src="{% static 'images/icons8-github-50.png' %}" alt=""></a>
                <a href="https://facebook.com"><img src="{% static 'images/icons8-facebook-50.png' %}" alt=""></a>
            </div>
        </div>
    </div>
</body>
</html>