{% extends 'owner.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/add-item.css' %}">
{% endblock %}

{% block content %}
<form action="{% url 'new-item' %}" method="POST" enctype="multipart/form">
<div class="form-details">
{% csrf_token %}
    <input type="text" placeholder="Food Name"  name="foodproductname" required minlength="10 ">
    <input type="text" placeholder="Description" name="Description" required>
    <input type="number" placeholder="Price" min=1 name="price" required>
    <input type="file" placeholder="Upload Image" name="img">
    <button type="submit">Submit</button>

</div>


</form>
<div class="back"><a href="{% url 'owner' %}">Back</a></div>

{% endblock %} 