{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register page</title>
    <link rel="icon" href="{% static 'images/quickbyte_logo.png' %}" type="image/png">
        <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>
<body>
    <div class="container">
        <div class="register">
            <h1>Hello, Welcome</h1>
            <p>Already Have An Account?</p>
            <a href="{% url  'login' %}">Login</a>
        </div>
        <div class="login">
            <h2>Register</h2>
            <form method="POST">
                {% csrf_token %}
                <input type="text" name="user_name" placeholder="UserName" required>
                <input type="password" name="password_1" placeholder="create PassWord" required>
                <input type="password" name="password_2" placeholder="confirm PassWord" required>
                <input type="checkbox" name="is_owner" id="cb">
                <label for="">Create As Restaurant Owner</label>
                {% if error %}
                {{error}}
                {% endif %}
            
            
            <button type="submit">Create Account</button>
        </form>
            <p>Or Continue With Social Platforms</p>
            <div class="logos">
                <a href="https://google.com"><img src="images/icons8-facebook-50.png" alt=""></a>
                <a href="https://github.com"><img src="images/icons8-github-50.png" alt=""></a>
                <a href="https://linkedin.com"><img src="images/icons8-linkedin-50.png" alt=""></a>
                <a href="https://facebook.com"><img src="images/icons8-facebook-50.png" alt=""></a>
            </div>
        </div>
    </div>
</body>
</html>