{% extends 'index.html' %}
{% load static %}

{% block extra_css  %}
<link rel="stylesheet" href="{% static 'css/res.css' %}">
{% endblock %}


{% block content %}

<div class="main-content">

    <div class="wrapper">

    <div class="heading">

        <p>{{res_details.restaurant_name}}</p>

    </div>
    <div class="des">
       <p>{{res_details.restaurant_short_description}}</p>
       <p>{{res_details.restaurant_full_description}}</p>
    </div>
    <div class="res-image">

        <img src="{{res_details.restaurant_image.url}}" alt="Restaurant Image">
        

        
    </div>

    </div>

</div>


<div class="menu-container">
    <h3 class='main-header'>Our Menu</h3>
    <div class="fooditems-container">


        {% for item in food_items %}
        <div class="food-item">
            <div class="food-item-head">
                <img src="{{item.food_item_image.url}}" alt="">
            </div>
            <div class="food-item-body">
                <h4>{{item.food_item_name}}</h4>
                <p>{{item.food_item_des}}</p>
                <p>Price : ₹{{item.food_item_price}}</p>


                {% if user.is_authenticated %}  
                <a href="{% url 'add-to-cart' rest_id=res_details.id food_id=item.id %}">Add to Cart</a>

                {% else %}
                <a href="{% url 'login' %}">Add to Cart</a>

                {% endif %}


            </div>
        </div>

        {% endfor %}
       
        
       
        
       
        
    </div>
</div>


<div class="reviews-container">
    <h3 class='main-header'>Hear From Our AweSome Users</h3>
    <div class='review-boxes'>
        <div class='review'>
            <div class="review-header">
                <div class="header-left">
                    <img src="{% static 'images/userpic.png' %}" alt="">
                </div>
                <div class="header-right">
                    <div class="username">Thomas</div>
                    <div class="rating">
                        <img src="{% static 'images/rating_review.png' %}" alt="">
                    </div>
                </div>
            </div>

            <div class="review-body">
                <p>QuickBite's meals are fresh, delicious, and always on time!</p>
            </div>
        </div>
        
        
        <div class='review'>
            <div class="review-header">
                <div class="header-left">
                    <img src="{% static 'images/user3_pic.png' %}" alt="">
                </div>
                <div class="header-right">
                    <div class="username">James Rodriguez</div>
                    <div class="rating">
                        <img src="{% static 'images/rating_review.png' %}" alt="">
                    </div>
                </div>
            </div>

            <div class="review-body">
                <p>Amazing variety and excellent service every single time!</p>
            </div>
        </div>
        <div class='review'>
            <div class="review-header">
                <div class="header-left">
                    <img src="{% static 'images/user2_pic.png' %}" alt="">
                </div>
                <div class="header-right">
                    <div class="username">Emily Carter</div>
                    <div class="rating">
                        <img src="{% static 'images/rating_review.png' %}" alt="">
                    </div>
                </div>
            </div>

            <div class="review-body">
                <p>QuickBite's meals are fresh, delicious, and always on time!</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}