{% extends "owner.html" %}

{% load static %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/view-orders.css' %}">

{% endblock %}

{% block content %}

{% if resorders %}

<form action="{% url 'update-order-status' %}" method="POST">

    {% csrf_token %}


<div class="orders-container">

    <table>

    <tr>
    <th>Image</th>
    <th>Item</th>
    <th>Username</th>
    <th>Status</th>
    </tr>

    
    {% for resorder in  resorders %}

    <tr>

        <td><img src="{{resorder.order_image.url}}" alt=""></td>

        <td><p>{{resorder.order_details}}</p></td>
        <td><p>{{resorder.from_user.username}}</p></td>
        
        <td>
                
                    <select name="status_{{resorder.id}}">
                        <option value="Pending" {% if resorder.status == "Pending" %}selected{% endif %}>Pending</option>
                        <option value="on-delivery" {% if resorder.status == "on-delivery" %}selected{% endif %}>Out for delivery</option>
                        <option value="Success" {% if resorder.status == "Success" %}selected{% endif %}>Delivered</option>
                    </select>
                    
              
        </td>

    </tr>

    {% endfor %}
    

    </table>


    </div>
    <div class="update"><button type="submit">Update</button></div>


    
    {% else %}

    <p class="orders-container">NO orders yet</p>
    
    

    
    {% endif %}
    
</form>


    <div class="back"><a href="{% url 'owner' %}">Back</a></div>


{% endblock %}